/* Mi primer style :) */

body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #333;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
}

a {
    text-decoration: none;
}

/* GRID */

.container {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

/* Header */
.hero {
    text-align: center;
    background: #000;
    color: #fff;
    height: 400px;

    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('img/battle-ship.jpg');
    background-position: center;
}

.hero-inner {
    padding: 100px 0;
}

.cta-wrapper {
    display: block;
}

.cta {
    display: inline-block;
    height: auto;
    background: #fbf900;
    border: 1px solid #fbf900;
    color: #333;
    padding: 10px;
    text-decoration: none;

    transition: 300ms;
}

.cta-ghost {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.cta-ghost:hover {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #333;
    transition: 600ms;
}

.service {
    text-align: center;
}

.service img {
    width: 160px;
}

/* Cards */

.cards-section {
    background: #2c3e50;
}

.card {
    width: 250px;
    background: #242e38;
    color: #fff;
}

.card img {
    width: 100%;
}

.card-info {
    padding: 10px 15px;
}

.card h3 {
    margin: 0;
}

.card small {
    display: block;
}

.card .category {
    color: #2e6cc5
}
